<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ollama.dashboard</string>
    <key>ProgramArguments</key>
    <array>
        <string>TARGET_DIR/.venv/bin/python3</string>
        <string>-m</string>
        <string>streamlit</string>
        <string>run</string>
        <string>TARGET_DIR/dashboard.py</string>
        <string>--server.port</string>
        <string>9999</string>
        <string>--server.address</string>
        <string>0.0.0.0</string>
	    <string>--server.enableCORS</string>
        <string>false</string>
        <string>--server.enableXsrfProtection</string>
        <string>false</string>
        <string>--global.developmentMode</string>
        <string>false</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>TARGET_DIR/logs/dashboard.log</string>
    <key>StandardErrorPath</key>
    <string>TARGET_DIR/logs/dashboard_err.log</string>
</dict>
</plist>
